<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom; 0px;">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-01">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      {{#link-to 'home' class="navbar-brand"}}
        <img src="/pairs.png" style="height: 40px; padding-left: 50px; padding-right: 100px;">
      {{/link-to}}
  </div>
  <ul class="nav navbar-nav">
    {{#link-to 'home.index' tagName='li'}}
      {{#link-to 'home.index'}}
        Home
      {{/link-to}}
    {{/link-to}}
    {{#link-to 'home.showcase' tagName='li'}}
      {{#link-to 'home.showcase'}}
        Showcase
      {{/link-to}}
    {{/link-to}}
    {{#link-to 'home.apps' tagName='li'}}
      {{#link-to 'home.apps'}}
        Apps
      {{/link-to}}
    {{/link-to}}
    {{#link-to 'home.faq' tagName='li'}}
      {{#link-to 'home.faq'}}
        FAQ
      {{/link-to}}
    {{/link-to}}
    {{#link-to 'home.about' tagName='li'}}
      {{#link-to 'home.about'}}
        About Us
      {{/link-to}}
    {{/link-to}}
   </ul> 
  <ul class="nav navbar-nav navbar-right">
    {{#link-to 'signin' tagName='li'}}
      {{#link-to 'signin'}}
        Sign In
      {{/link-to}}
    {{/link-to}}    
    {{#link-to 'register' tagName='li'}}
      {{#link-to 'register'}}
        Register
      {{/link-to}}
    {{/link-to}}
  </ul>


{{!--   <div class="collapse navbar-collapse navbar-collapse-01" style="margin-bottom; 0px;">
    <ul class="nav navbar-nav navbar-right">
      {{#link-to 'home.showcase' tagName='li'}}
          {{#link-to 'home.showcase'}}
          Showcase
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'home.about' tagName='li'}}
          {{#link-to 'home.about'}}
          About
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'home.contact' tagName='li'}}
          {{#link-to 'home.contact'}}
          Contact
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'signin' tagName='li'}}
          {{#link-to 'signin'}}
          Sign In
        {{/link-to}}
      {{/link-to}}
    </ul>
  </div> --}}
</nav>
<ul class="breadcrumb">
  <li><a href="#fakelink">CV Resume</a></li>
  <li><a href="#fakelink">My</a></li>
  <li class="active"><a href="#">Dashboard</a></li>
</ul>
              

