<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom; 0px;">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-01">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      {{#link-to 'about' class="navbar-brand"}}
        <img src="/pairs.png" style="height: 45px; padding-left: 50px; padding-right: 100px;">
      {{/link-to}}
  </div>
  <ul class="nav navbar-nav">
    {{#link-to 'about' tagName='li'}}
      {{#link-to 'about'}}
        What it is
      {{/link-to}}
    {{/link-to}}

    {{#link-to 'about.how-it-works' tagName='li'}}
      {{#link-to 'about.how-it-works'}}
        How it works
      {{/link-to}}
    {{/link-to}}

    {{#link-to 'about.who-we-are' tagName='li'}}
      {{#link-to 'about.who-we-are'}}
        Who we are
      {{/link-to}}
    {{/link-to}}

    {{#link-to 'about.why-we-did-it' tagName='li'}}
      {{#link-to 'about.why-we-did-it'}}
        Why we did it
      {{/link-to}}
    {{/link-to}}

   </ul> 
  <ul class="nav navbar-nav navbar-right">
    {{#link-to 'signin' tagName='li'}}
      {{#link-to 'signin'}}
        Sign In
      {{/link-to}}
    {{/link-to}}    
    {{#link-to 'register' tagName='li'}}
      {{#link-to 'register'}}
        Register
      {{/link-to}}
    {{/link-to}}
  </ul>

</nav>
<ul class="breadcrumb">
  <li><a href="#fakelink">Pairs</a></li>
  <li class="active"><a href="#">What it is</a></li>
</ul>
              

