<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom; 0px;">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-01">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      {{#link-to 'about' class="navbar-brand"}}
        <img src="/pairs.png" style="height: 50px; padding-left: 50px; padding-right: 100px;">
      {{/link-to}}
  </div>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Profile <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {{#link-to 'profile' tagName='li'}}
            {{#link-to 'profile'}}
            Profile
          {{/link-to}}
        {{/link-to}}
        <li class="divider"></li>
        {{#link-to 'profile.edit' tagName='li'}}
            {{#link-to 'profile.edit'}}
            Edit Profile
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'profile.images' tagName='li'}}
            {{#link-to 'profile.images'}}
            Images
          {{/link-to}}
        {{/link-to}}
      </ul>
    </li>   
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Organizations <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {{#link-to 'organizations' tagName='li'}}
            {{#link-to 'organizations'}}
            Show All
          {{/link-to}}
        {{/link-to}}
        <li class="divider"></li>
        {{#link-to 'organizations.add' tagName='li'}}
            {{#link-to 'organizations.add'}}
            Add New
          {{/link-to}}
        {{/link-to}}
      </ul>
    </li>   
    {{#link-to 'pairings' tagName='li'}}
        {{#link-to 'pairings'}}
        Show All
      {{/link-to}}
    {{/link-to}}        
   </ul>
   <ul class="nav navbar-nav navbar-right"> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{person.firstName}} {{person.lastName}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {{#link-to 'account.details' tagName='li'}}
                {{#link-to 'account.details'}}
                Account
              {{/link-to}}
            {{/link-to}}
            <li class="divider"></li>
            {{#link-to 'account.settings' tagName='li'}}
                {{#link-to 'account.settings'}}
                Settings
              {{/link-to}}
            {{/link-to}}
            {{#link-to 'account.permissions' tagName='li'}}
                {{#link-to 'account.permissions'}}
                Permissions
              {{/link-to}}
            {{/link-to}}
          </ul>
        </li>
        <li>
          <a href="#" {{action "toggleChat"}}>
            <span class="visible-sm visible-xs">Exit<span class="fui-chat"></span></span>
            <span class="visible-md visible-lg"><span class="fui-chat" style="font-size: 24px;"></span></span>
          </a>
        </li>
    </ul>
</nav>
<ul class="breadcrumb">
  <li><a href="#fakelink">CV Resume</a></li>
  <li><a href="#fakelink">My</a></li>
  <li class="active"><a href="#">Dashboard</a></li>
</ul>
