
{{!-- {{#liquid-if chatActive class="chat"}}
  <aside class="right-side-wrapper" >  
      <ul class="chat">
          <li class="left clearfix">
            <div class="chat-body clearfix">
                  <div class="header">
                      <strong class="primary-font">Jack Sparrow</strong> 
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                      </small>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                  </p>
            </div>
        </li>
        <li class="right clearfix">
              <div class="chat-body clearfix">
                  <div class="header">
                      <small class=" text-muted">
                        <span class="glyphicon glyphicon-time"></span>13 mins ago
                      </small>
                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
        <li class="left clearfix">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">Jack Sparrow</strong> 
                    <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>14 mins ago
                      </small>
                </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                  </p>
            </div>
          </li>
          <li class="right clearfix">
              <div class="chat-body clearfix">
                  <div class="header">
                      <small class=" text-muted">
                        <span class="glyphicon glyphicon-time"></span>15 mins ago
                      </small>
                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                  </p>
              </div>
          </li>
      </ul>
      <textarea class="form-control" rows="3"></textarea>
      <button type="button" class="btn btn-primary btn-block">SEND</button>
  </aside>
{{/liquid-if}} --}} 
{{outlet}}
{{!-- {{bottom-nav}} --}}