<div class="container">
  <div class="row">
    <div class="col-md-6 pull-right gallery-popup">
      <a href="https://www.placehold.it/640x480">
        <img src="https://www.placehold.it/640x480" alt="placeholder image" title="placeholder image" class="img-responsive">
      </a>
    </div>
    <div class="col-md-6 pull-left">
      <h3>{{name}}</h3>
      <p class="lead">{{lead}}</p>
      <p>{{description}}</p>
    </div>
  </div>
</div>