<section id="section-hero" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 intro"><img src="img/logo.png" alt="Booom! Logo" title="Booom! Logo">
        <p class="lead">Warning, this template was built to blast your audience!</p><a href="#section-features" class="btn btn-hg btn-primary">Learn More</a><a href="#section-gallery" class="btn btn-hg btn-inverse inline">View Gallery</a>
      </div>
    </div>
  </div>
</section>
<section id="section-info" class="info">{{video-content}}</section>     
<section id="section-info" class="info">{{slideshow-content}}</section> 
<section id="section-info" class="info">{{image-content}}</section>  